#general{
    background-color: azure;
    font-size: medium;
    overflow-y: scroll;
    font-family:'Times New Roman', Times, serif;
}
ul.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    border: 3px solid black;
    position:sticky;
    height: 10%;
    padding:5px ;
}
ul.navigation li a{
    display:inline;
    color: blanchedalmond;
    padding: 10px 20px ;
    text-decoration: none;
    border: 3px black;
    border-right: none;
}
ul.navigation li a:hover{
    background-color: darkcyan;
}
ul.navigation a.active{
    background-color: rgb(10, 83, 83);
    color: blanchedalmond;
}
ul.navigation li a:hover:not(.active){
    background-color: rgb(80, 200, 255);
} 

#footerContainer{
    background-color: rgb(189, 189, 189);
    align-items: center;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;

}
.tagContainers{
    background-color: rgb(255, 211, 183);
    border-radius: 15px;
    text-align: center;
    margin: 15px 10px 15px;
    width: 12%;
    padding: 12PX;
    border-color: rgb(208, 172, 255);
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(112, 40, 40);
    justify-content: center;
    align-items: center;
}
.tagContainers h3 a{
    text-decoration: none;
    color: rgb(58, 110, 112);
}
.tagContainers h3 a:visited,a:hover,a:visited{
    text-decoration:none;
    color: darkred;
}


div h2{
    color: rgb(58, 110, 112);
    position: relative;
    margin-left: 12%;
    font-weight: 800;
}
.tagPart pre code pre{
    background-color: white;
    color: black;
    padding: 10px;
    margin:10px

}
.tagPart {
    justify-content: space-evenly;
    display: flex;
    background-color: rgba(255, 139, 139, 0.219);
}
.explaination{
    font-size: medium;
    color: rgb(54, 53, 53);
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    max-width: 40%;
}
p.explaination h4{
    color: rgb(255, 38, 0);
    font-weight: 700;
    padding: 15px;
}
div{
    margin: 4px;
}

.explaination ul{
    display: block;
    list-style-type:circle;
    background-color: darkgreen;
}

code{
    background-color: white;
    margin: 8px;
    margin-bottom: 0;
    padding: 3px;
    width:max-content;
}
li h4{
    display: inline;
}
table ,th, td{
    border: 1px solid black;
    background-color: rgb(255, 170, 155);
}
hr{
    color: royalblue;
}
h4{
    color: rgb(210, 42, 30);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    padding-top: 20px;
} 
span{
    color: rgb(74, 74, 255);
    font-size:larger
}
li{ padding: 3px;}